@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Yarndings+12&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



/*** GENERAL RULES ***/

:root {
    --color-bg-1: #39393E;
    --color-bg-2: #292929;

    --color-3: #756A63;
    --color-4: #714448;
    --color-5: #754D3F;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.page {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.page:nth-child(2n) {
    background-color: var(--color-bg-1);
}

.page:nth-child(2n + 1) {
    background-color: var(--color-bg-2);
}



/*** MENU ***/

.main_menu {
    z-index: 4;
    position: fixed;
    top: 0;
    width: 100%;
}

.burger {
    display: block;
    top: 1rem;
    right: 2rem;
    z-index: 5;
    position: absolute;
    width: 4rem;
}

.main_menu_links {  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(100%);
    height: 100dvh;
    background-color: #000000e4;
}

.main_menu_links li {
    margin-bottom: 1.5rem;
}

.main_menu_link {
    font-family: 'Urbanist';
    font-size: 5rem;
    font-weight: 300;
    color: white;
    padding: 0 1rem;  
}



/*** COVER ***/

#cover {
    background-image: url(../img/jpg/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}

.my_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
}

.my_card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.profile_img {
    width: 15rem;
    border-radius: 50%;
    border: 3px solid rgb(245, 245, 245);
    outline: 10px solid rgba(255, 255, 255, 0.063) ; 
}

.my_card__name {
    font-family: 'Urbanist';
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    margin-bottom: 0.5rem;
}

.my_card__slogan {
    font-family: 'Urbanist';
    font-size: 2rem;
    font-weight: 200;
    color: rgb(245, 245, 245);

}

.my_card__links {
    z-index: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin: 2rem;
    padding: 1rem 0;
}

.my_card__link img {
    height: 3rem;
    width: 3rem;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}

.my_card__link img:hover {
    transform: scale(1.2);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

/*** ABOUT ***/

.about {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem 2rem;
}

.about__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 100%;
    padding: 3rem;
}

.about__title {
    font-family: 'Urbanist';
    font-size: 3rem;
    color: white;
}

.about__img {
    position: relative;
    max-width: 20rem;
    min-width: 20rem;
    min-height: 20rem;
    max-height: 20rem;
}

.about__img-content {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 100%;
}

.about__img-border {
    position: absolute;
    border: 3px solid white;
    width: 100%;
    height: 20rem;
}

.about__bios {
    margin-top: 2rem;
    padding: 0 2rem;

}

.about__bio {
    font-family: 'Urbanist';
    color: white;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.about__bio.accent {

}

.about__bio.txt-right {
    text-align: right;

}

















